<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta charset="utf-8" />
  <title>The RA Resource</title>
  <link rel="shortcut icon" href="/assets/img/address-book-solid-full.svg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/35b0bcdf95.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/ra-resource-logo" alt="face logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app">

  </section>
  <script src="/assets/appBundle.js"></script>
</body>

</html>