<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>The RA Resource</title>
  <link rel="shortcut icon" href="/assets/img/address-book-solid-full.svg" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  {{!-- <script src="https://kit.fontawesome.com/35b0bcdf95.js" crossorigin="anonymous"></script> --}}
</head>

<body class="has-background-warning-light">
  <nav class="navbar is-dark">

    <div class="navbar-start is-flex-grow-1 is-justify-content-center has-background-info">
    </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">

      <div class="columns is-centered">

        <div class="column is-two-thirds is-capped box has-text-centered has-background-info">
          <br>
          <div class="has-text-centered mb-4">
            <figure class="image is-1423by543">
            <img src="/assets/img/ra-resource-logo.png" alt="RA Resource Logo" >
          </figure>
          </div>
          <br>

          
          <a id="loginNav" class="button has-background-success-dark has-text-warning" >Login</a>
          <a id="signupNav" class="button has-background-success-dark has-text-warning">Sign Up</a>
          <br><br>

          <!-- React Login Mount -->
          <div id="loginRoot" style="display:none;"></div>

          <!-- React Signup Mount -->
          <div id="signupRoot" style="display:none;"></div>
        </div>
      </div>

    </div>
    </div>
  </section>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>